body {
    background-image: url("../assets/images/chp01-constructive-backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
}