body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    /*overflow: auto;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}

#page-container {
    position: relative;
    background-image: url("../assets/images/chp03-travelworthy-backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw ;
    height: 100vh;
    /*margin: 50px;*/
    /*width: calc(100vw - 100px);*/
    /*height: calc(100vh - 100px);*/
    background-color: white;
}

.button-link {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    width: auto;
    background-color: #0aa696;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    float: right;
    font-size: 16px;
}

.button-link-js {
    position: absolute;
    left: 150px;
    bottom: 120px;
}

.button-link-js-2 {
    position: absolute;
    right: 150px;
    bottom: 120px;
}

h1 {
    display: block;
    background: #1e1b1e url("../assets/images/chp03-travelworthy-logo.gif") no-repeat;
    width: 230px;
    height: 180px;
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 22em;
    font-weight: bold;
}

#message {
    float: left;
    clear: left;
    background-color: #ffb87a;
    color: #1e1b1e;
    width: 170px;
    padding: 18px 30px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, serif;
}

.js-popup {
    display: none;
    position: absolute;
    bottom: auto;
    right: 22%;
    background-color: #fff;
    border: 2px solid #31373f;
    padding: 5px;
    max-width: 750px;
    max-height: fit-content;
    overflow: auto;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#popup-1 {
    /*position: absolute;*/
    bottom: 1px;
    left: 19%;
}

#popup-2 {
    /*position: absolute;*/
    bottom: 10px;
    right: 22%;
}

pre{
    white-space: pre-wrap;
    word-break: break-word;
}

.color-green {
    color: green;
}

