body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    /*overflow: auto;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    font-family: 'Open Sans', sans-serif;
}

#page-container {
    position: relative;
    background-image: url("../assets/images/chp03-travelworthy-backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw ;
    height: 100vh;
    /*margin: 50px;*/
    /*width: calc(100vw - 100px);*/
    /*height: calc(100vh - 100px);*/
    background-color: white;
}

.button-link {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px;
    width: auto;
    background-color: #0aa696;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    float: right;
    font-size: 16px;
}

.button-link-js {
    position: absolute;
    left: 150px;
    bottom: 120px;
}

.button-link-js-2 {
    position: absolute;
    right: 150px;
    bottom: 120px;
}

h1 {
    display: block;
    background: #1e1b1e url("../assets/images/chp03-travelworthy-logo.gif") no-repeat;
    width: 230px;
    height: 180px;
    float: left;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 22em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin: 1.75em 0 0 0;
    color: #adffda;
    font-weight: normal;
    /*margin-block-start: 0.83em;*/
    /*margin-block-end: 0.83em;*/
    /*margin-inline-start: 0px;*/
    /*margin-inline-end: 0px;*/
}

p + p {
    margin: 0;
}

#message {
    float: left;
    clear: left;
    background-color: #ffb87a;
    color: #1e1b1e;
    width: 170px;
    padding: 18px 30px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, serif;
}

#info {
    background-color: #1e1b1e;
    color: #fff;
    width: 200px;
    padding: 0 15px;
    text-align: center;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 25%;
}

.js-popup {
    display: none;
    position: absolute;
    bottom: auto;
    right: 22%;
    background-color: #fff;
    border: 2px solid #31373f;
    padding: 5px;
    max-width: 750px;
    max-height: fit-content;
    overflow: auto;
    font-family: monospace;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

#popup-1 {
    /*position: absolute;*/
    bottom: 1px;
    left: 19%;
}

#popup-2 {
    /*position: absolute;*/
    bottom: 10px;
    right: 22%;
}

pre{
    white-space: pre-wrap;
    word-break: break-word;
}

.color-green {
    color: green;
}

#hotelName {
    text-transform: uppercase;
    text-align: center;
    font-size: 120%;
    margin-top: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}

#rooms {
    font-size: 440%;
    color: #ffb87a;
    display: inline-block;
    margin: 0;
}

#hotel1 {
    margin-top: 1em;
    border-top: 1px solid #fff;
    padding-top: 1em;
}

#hotel2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 1em;
}

#pool, #gym {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}

.facilityItemName {
    display: flex;
    align-items: center;
    justify-content: center;
}


